body {
    background-color: bisque;
}

.blog-container {
    display: flex;
    flex-direction: column;
    text-align: center;

}

h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 500%;
}

.post-list {
    list-style: none;
}

.post-item {
    margin-bottom: 80px;
}

.post-item:hover {
    color: rgb(13, 214, 80);
    transform: scale(1.31);
}